<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
 <link href="static/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="static/css/style.css"/>
        <link rel="stylesheet" href="static/assets/css/ace.min.css" />
        <link rel="stylesheet" href="static/assets/css/font-awesome.min.css" />
        <link href="static/Widget/icheck/icheck.css" rel="stylesheet" type="text/css" />
		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->
        <!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->
	    <script src="static/js/jquery-1.9.1.min.js"></script>
        <script src="static/assets/js/bootstrap.min.js"></script>
<title>添加产品分类</title>
</head>
<body>
<form action="" method="post" class="form form-horizontal" id="form-user-add" enctype="multipart/form-data">
<div class="type_style">
 <div class="type_title">产品类型信息</div>
  <div class="type_content">


    <div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>分类名称：</label>
      <div class="formControls ">
        <input type="text" class="input-text" value="" placeholder="" id="user-name" name="product-category-name">
      </div>
    </div>
       <div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>父级id：</label>
      <div class="formControls ">
        <input type="text" class="input-text" value="" placeholder="" id="user-name" name="parentid">
      </div>
    </div>
        <div class="Operate_cont clearfix">
      <label class="form-label"><span class="c-red">*</span>级别：</label>
      <div class="formControls ">
        <select name="jibie" id="jibie" class="input-text">
                        <option did="1" value="1" >1</option>
                        <option did="2" value="2" >2</option>
                        <option did="3" value="3" >3</option>
            </select>
      </div>

    </div>
    <div class="Operate_cont clearfix">
    <label class="form-label">图片：</label>
    <div class="formControls">
    <input name="upload" type="file" >
    </div>
    </div>
      <div class="Operate_btn">
      <button class="btn btn-warning" type="submit" name="chack" value="增加">新增子类型</button>
      <button class="btn btn-success" type="submit" name="chack" value="禁用">禁用子类型</button>
      <button class="btn btn-danger" type="submit" name="chack" value="删除">删除子类型</button>
{#       <input class="btn btn-warning" type="submit" name="禁用" value="&nbsp;&nbsp;禁用该类型&nbsp;&nbsp;"/>#}
{#       <input class="btn btn-danger" type="submit" name="删除" value="&nbsp;&nbsp;删除该类型&nbsp;&nbsp;"/>#}
{#  <a class="btn  btn-warning"> <i class="icon-edit align-top bigger-125"></i>新增子类型</a>#}
{#  <a href="javascript:ovid()" class="btn  btn-success"><i class="icon-ok align-top bigger-125"></i>禁用该类型</a>#}
{#  <a href="javascript:ovid()" class="btn  btn-danger"><i class="icon-trash   align-top bigger-125"></i>删除该类型</a>#}
  </div>

  </div>
</div> 
</div>
     </form>
<script type="text/javascript" src="static/Widget/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="static/Widget/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript" src="static/assets/layer/layer.js"></script>
<script type="text/javascript" src="static/js/H-ui.js"></script>
<script type="text/javascript" src="static/js/H-ui.admin.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-user-add").Validform({
		tiptype:2,
		callback:function(form){
			form[0].submit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script>
</body>
</html>